.aside-callback{
    transform: translateX(100%);
    box-sizing: border-box;
    font-family: $fontFamily;
    transition: 0.7s;
    background-color: $bgColor;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 25px;
    padding-top: 5px;
    min-width: 320px;
    max-width: 360px;
    .aside-callback__title{
      display: inline-block;
    }
    .aside-callback__exit{
        content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url();
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
      background-image: $exit;
      cursor: pointer;
      // transform: translate(-280px, 15px);
    }
    .aside-callback__form__input{
      height: 30px;
      width: 230px;
      outline: none;
      display: block;
      border-radius: 8px;
      margin-top: 10px;
      padding: 15px;
      border:  1px solid #EAEAEA;
    }
    .aside-callback__button{
      width: 140px;
      height: 30px;
      cursor: pointer;
      border-radius: 8px;
      background-color: $bg_button;
      display: inline-block;
      position: relative;
      left: 180px;
      color: white;
      padding: 5px;
  
    }
    .aside-callback__paragraph{
      display: block;
      margin-top: 15px;
    }
    .aside-callback__paragraph__link{
      color: $bg_button;
    }
  }
  @media (min-width: 400px){
    .aside-callback__exit{
      transform: translate(-280px, 15px);
    }
  }
  @media (max-width: 400px){
    .aside-callback{
      padding-top: 20px;
    }
    .aside-callback__title{
      transform: translateY(50px);
    }
    .aside-callback__form{
      transform: translateY(50px);
    }
    .aside-callback__exit{
      transform: translateX(-180px);
    }
    .aside-callback__button{
      transform: translateY(50px);
    }
    .aside-callback__paragraph{
      transform: translateY(50px);
    }
  }