@charset "UTF-8";
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 80px;
  background-color: #FFFFFF;
}

.header .header__buttons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header__buttons .header__menu::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/menu.svg");
  margin-left: 15px;
  margin-right: 5px;
}

.header .header__buttons .header__menu::after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 2px;
  height: 44px;
  background-color: #EAEAEA;
}

.header .header__buttons .header__logo {
  margin-right: auto;
  margin-left: 15px;
}

.header .header__buttons .header__phone::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/call.svg");
  margin-right: 15px;
}

.header .header__buttons .header__message::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/message.svg");
  margin-right: 15px;
}

.header .header__buttons .header__contact::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/user.svg");
  margin-right: 30px;
}

.header .header__buttons .header__contact::after {
  content: '';
  display: inline-block;
  margin-right: 20px;
  width: 2px;
  height: 44px;
  background-color: #EAEAEA;
}

.header .header__buttons .header__tools::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/Tools.svg");
  margin-right: 15px;
}

.header .header__buttons .header__status::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/status.svg");
  margin-right: 15px;
}

@media (min-width: 1025px) {
  .header {
    display: none;
  }
}

@media (max-width: 515px) {
  .header__phone, .header__message, .header__contact {
    display: none;
  }
}

.section-navigation {
  margin-left: 330px;
}

.section-navigation .section-navigation__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-navigation .section-navigation__header .section-navigation__title {
  font-size: 28px;
  margin-left: 10px;
  margin-right: auto;
  font-weight: bold;
}

.section-navigation .section-navigation__header .section-navigation__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-navigation .section-navigation__header .section-navigation__service .section-navigation__service__tools {
  vertical-align: middle;
  cursor: pointer;
}

.section-navigation .section-navigation__header .section-navigation__service .section-navigation__service__tools::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/Tools.svg");
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

.section-navigation .section-navigation__header .section-navigation__service .section-navigation__service__tools:hover::after {
  background-color: brown;
}

.section-navigation .section-navigation__header .section-navigation__service .section-navigation__service__status {
  vertical-align: middle;
  cursor: pointer;
}

.section-navigation .section-navigation__header .section-navigation__service .section-navigation__service__status::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/status.svg");
  margin-left: 5px;
  margin-right: 15px;
  vertical-align: middle;
}

.section-navigation .section-navigation__header .section-navigation__service .section-navigation__service__status:hover::after {
  background-color: brown;
}

.section-navigation .section-navigation__navigation {
  width: 1440px;
  padding: 10px;
  overflow: hidden;
}

.section-navigation .section-navigation__navigation .section-navigation__navigation__link {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  margin-left: 20px;
  border: 1px solid #F8F8F8;
  border-radius: 8px;
}

.section-navigation .section-navigation__navigation .section-navigation__navigation__link:hover {
  border: 1px solid #B8FFEC;
  background-color: #FFFFFF;
}

.section-navigation .section-navigation__paragraph {
  padding: 10px;
}

.section-navigation .section-navigation__paragraph .section-navigation__text {
  line-height: 20px;
}

.section-navigation .section-navigation__paragraph .section-navigation__text_hide {
  display: none;
}

.section-navigation .section-navigation__paragraph .section-navigation__read-more::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/read_more.svg");
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-top: 10px;
}

.section-navigation .section-navigation__paragraph .hide {
  line-height: 20px;
}

.section-navigation .section-navigation__paragraph .hide::before {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.section-navigation .section-navigation__paragraph .section-navigation__read-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section-navigation .section-navigation__paragraph .hide:hover {
  cursor: pointer;
}

.section-navigation .section-navigation__image {
  border-radius: 8px;
  float: right;
  margin-left: 10px;
}

.section-navigation .section-navigation__fixclear::after {
  content: '';
  display: table;
  clear: both;
}

@media (max-width: 1025px) {
  .section-navigation {
    margin-left: 20px;
  }
  .section-navigation__image {
    width: 50%;
  }
  .section-navigation__service__tools,
  .section-navigation__service__status {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-navigation {
    margin-left: 5px;
  }
  .section-navigation__navigation {
    padding: 0px;
  }
  .section-navigation__navigation__link {
    margin-left: 2px;
  }
}

@media (max-width: 500px) {
  .section-navigation__image {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .section-navigation__paragraph {
    width: 100%;
  }
}

.section-brands {
  margin-left: 330px;
}

.section-brands .section-brands__title {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  color: #7E7E82;
  font-size: 16px;
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.section-brands .section-brands__show-less:hover {
  cursor: pointer;
  text-decoration: underline;
}

.section-brands .section-brands__show-less::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/read_more.svg");
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 10px;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.section-brands .section-brands__show-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.section-brands .section-brands__show-more::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/read_more.svg");
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.section-brands .section-brands__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-brands .section-brands__logos .section-brands__logo {
  background-color: #FFFFFF;
  padding: 5px;
  margin-top: 10px;
  margin-left: 20px;
  height: 70px;
  border-radius: 8px;
  position: relative;
}

.section-brands .section-brands__logos .section-brands__logo .section-brands__image {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
}

.section-brands .section-brands__logos .section-brands__logo .section-brands__follow {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(-120%, -50%);
          transform: translate(-120%, -50%);
  cursor: pointer;
}

.section-brands .section-brands__logos .section-brands__logo .section-brands__follow::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/arrow-right-white.svg");
}

.section-brands .section-brands__logos .section-brands__logo .section-brands__follow:hover::before {
  background-color: brown;
}

@media (min-width: 1026px) {
  .section-brands__logo {
    width: 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 1025px) {
  .section-brands {
    margin-left: 20px;
  }
  .section-brands__logo {
    width: 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 1440px) {
  .section-brands__logo:nth-child(n+9) {
    display: none;
  }
}

@media (max-width: 1250px) and (min-width: 768px) {
  .section-brands__logo:nth-child(n+7) {
    display: none;
  }
  .section-brands__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .section-brands__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-brands__logo:nth-child(n+9) {
    display: none;
  }
  .section-brands__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.section-repair {
  margin-left: 330px;
}

.section-repair .section-repair__title {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  padding-left: 10px;
  height: auto;
  line-height: 50px;
  text-transform: uppercase;
  color: #7E7E82;
  font-size: 16px;
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.section-repair .section-repair__show-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.section-repair .section-repair__show-more::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/read_more.svg");
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.section-repair .section-repair__show-less:hover {
  cursor: pointer;
  text-decoration: underline;
}

.section-repair .section-repair__show-less::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/read_more.svg");
  background-color: transparent;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.section-repair .section-repair__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-repair .section-repair__logos .section-repair__logo {
  background-color: #FFFFFF;
  padding: 5px;
  margin-top: 10px;
  margin-left: 20px;
  height: 120px;
  border-radius: 8px;
  position: relative;
}

.section-repair .section-repair__logos .section-repair__logo .section-repair__text {
  position: absolute;
  top: 15px;
  left: 15px;
}

.section-repair .section-repair__logos .section-repair__logo .section-repair__follow {
  position: absolute;
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-120%, -120%);
          transform: translate(-120%, -120%);
  cursor: pointer;
}

.section-repair .section-repair__logos .section-repair__logo .section-repair__follow::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/arrow-right-white.svg");
}

.section-repair .section-repair__logos .section-repair__logo .section-repair__follow:hover::before {
  background-color: brown;
}

@media (min-width: 1025px) {
  .section-repair__logo {
    width: 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .section-repair__logo:nth-child(n+5) {
    display: none;
  }
}

@media (max-width: 1025px) {
  .section-repair {
    margin-left: 20px;
  }
  .section-repair__logo {
    width: 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 1250px) and (min-width: 768px) {
  .section-repair__logo:nth-child(n+4) {
    display: none;
  }
  .section-repair__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .section-repair__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-services {
  margin-left: 330px;
}

.section-services .section-services__title {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  padding-left: 10px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  color: #7E7E82;
  font-size: 16px;
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.section-services .section-services__logo__title {
  padding: 25px;
}

.section-services .section-services__logo__title .section-services__text__column-2 {
  margin-left: auto;
  margin-right: 10px;
}

.section-services .section-services__logo__title .section-services__text__column-3 {
  margin-left: auto;
  margin-right: 10px;
}

.section-services .section-services__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.section-services .section-services__logos .section-services__logo {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EAEAEA;
}

.section-services .section-services__logos .section-services__logo .section-services__follow {
  cursor: pointer;
}

.section-services .section-services__logos .section-services__logo .section-services__follow::before {
  content: '';
  line-height: 25px;
  display: inline-block;
  background-image: url("../img/icons/Group10.svg");
  background-repeat: no-repeat;
  width: 125px;
  height: 32px;
}

.section-services .section-services__logos .section-services__logo:first-child {
  padding-top: 0px;
}

@media (max-width: 1025px) {
  .section-services {
    margin-left: 20px;
  }
}

@media (min-width: 767px) {
  .section-services__logo__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section-services__text__title-column-1 {
    margin-left: 10px;
    margin-right: auto;
  }
  .section-services__text__title-column-2 {
    margin-right: 150px;
    margin-left: auto;
  }
  .section-services__text__title-column-3 {
    margin-right: 50px;
  }
  .section-services__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .section-services__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .section-services__text__column-1 {
    margin-right: auto;
    margin-left: 0px;
  }
  .section-services__text__column-2 {
    margin-right: 20px;
    margin-left: auto;
  }
  .section-services__logo:first-child .section-services__text__column-2 {
    margin-right: 25px;
    margin-left: auto;
  }
  .section-services__text__column-3 {
    margin-right: 10px;
  }
  .section-services__follow {
    margin-right: 30px;
  }
}

@media (min-width: 769px) {
  .section-services__logo__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section-services__text__title-column-1 {
    margin-left: 10px;
    margin-right: auto;
  }
  .section-services__text__title-column-2 {
    margin-right: 260px;
  }
  .section-services__text__title-column-3 {
    margin-right: 220px;
  }
  .section-services__logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .section-services__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .section-services__text__column-1 {
    margin-left: 5px;
    margin-right: auto;
  }
  .section-services__text__column-2 {
    margin-right: 200px;
  }
  .section-services__logo:first-child .section-services__text__column-2 {
    margin-right: 215px;
  }
  .section-services__text__column-3 {
    margin-right: 100px;
  }
  .section-services__follow {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .section-services__logo__title {
    display: none;
  }
  .section-services__logos {
    height: 200px;
    background-color: #F8F8F8;
    padding: 5px;
  }
  .section-services__logo {
    background-color: #FFFFFF;
    padding-left: 5px;
  }
  .section-services__logo:first-child
.section-services__text__column-3 {
    margin-top: 50px;
  }
  .section-services__logo:nth-child(4)
.section-services__text__column-2 {
    margin-top: 5px;
  }
  .section-services__text__column-1 {
    text-align: left;
    display: inline-block;
    width: 80px;
  }
  .section-services__text__column-2 {
    text-align: left;
    display: block;
    margin-top: 30px;
    width: 80px;
  }
  .section-services__text__column-3 {
    vertical-align: bottom;
    display: inline-block;
    margin-top: 10px;
    width: 80px;
  }
  .section-services__follow {
    display: inline-block;
    margin-top: 10px;
  }
  .section-services__text__column-1::before {
    content: 'Ремонтные услуги';
    display: inline-block;
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
    color: #7E7E82;
    font-size: 14px;
    width: 150px;
  }
  .section-services__text__column-2::before {
    content: 'Цена';
    display: inline-block;
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
    color: #7E7E82;
    font-size: 14px;
    width: 150px;
  }
  .section-services__text__column-3::before {
    content: 'Срок';
    display: inline-block;
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
    color: #7E7E82;
    font-size: 14px;
    width: 150px;
  }
}

.section-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 330px;
  padding: 15px;
}

.section-info .section-info__text {
  width: 550px;
  margin-left: 10px;
  margin-right: auto;
}

.section-info .section-info__link {
  margin-left: 10px;
  margin-right: auto;
}

.section-info .section-info__link::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  vertical-align: middle;
  background-image: url("../img/icons/arrow-right-pink.svg");
  background-color: transparent;
  height: 15px;
  width: 15px;
  margin-left: 5px;
}

.section-info .section-info__link:hover {
  text-decoration: underline;
}

@media (max-width: 1025px) {
  .section-info {
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .section-info {
    margin-left: 0px;
  }
  .section-info__text {
    max-width: 300px;
  }
  .section-info__link {
    max-width: 300px;
    margin-left: 5px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 330px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #D9FFF5;
  padding-top: 10px;
}

.footer .footer__span {
  font-size: 14px;
  max-width: 230px;
}

@media (max-width: 1025px) {
  .footer {
    margin-left: 20px;
  }
}

@media (max-width: 400px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__span {
    text-align: center;
    margin-top: 20px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 300px;
  }
}

.aside {
  height: 100%;
  min-width: 320px;
  max-width: 360px;
  -webkit-box-shadow: 0 0 10px 5px rgba(122, 122, 122, 0.5);
          box-shadow: 0 0 10px 5px rgba(122, 122, 122, 0.5);
  background-color: #FFFFFF;
  -webkit-transform: translateX();
          transform: translateX();
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  font-family: "TT Lakes";
}

.aside .aside__header {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside .aside__header .aside__exit {
  height: 40px;
}

.aside .aside__header .aside__exit:hover::before {
  background-color: brown;
}

.aside .aside__header .aside__search {
  margin-left: auto;
  height: 40px;
}

.aside .aside__header .aside__search:hover::before {
  background-color: brown;
}

.aside .aside__header .aside__search::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/search.svg");
}

.aside .aside__section {
  padding-left: 25px;
}

.aside .aside__section .aside__list {
  font-size: 16px;
  line-height: 32px;
}

.aside .aside__section .aside__list .aside__list__li {
  margin-bottom: 25px;
}

.aside .aside__section .aside__list .aside__list__li:hover {
  text-decoration: underline;
}

.aside .aside__footer {
  padding-left: 25px;
  padding-bottom: 20px;
}

.aside .aside__footer .aside__footer__buttons .aside__phone::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/call.svg");
}

.aside .aside__footer .aside__footer__buttons .aside__phone:hover::before {
  background-color: brown;
  cursor: pointer;
}

.aside .aside__footer .aside__footer__buttons .aside__message::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/message.svg");
  margin-left: 15px;
}

.aside .aside__footer .aside__footer__buttons .aside__message:hover::before {
  background-color: brown;
  cursor: pointer;
}

.aside .aside__footer .aside__footer__buttons .aside__contact::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/user.svg");
  margin-left: 15px;
}

.aside .aside__footer .aside__footer__buttons .aside__contact:hover::before {
  background-color: brown;
  cursor: pointer;
}

.aside .aside__footer .aside__footer__contact {
  margin-top: 20px;
}

.aside .aside__footer .aside__footer__contact .mail {
  font-weight: 800;
  display: block;
}

.aside .aside__footer .aside__footer__contact .phone {
  margin-top: 10px;
  font-weight: bolder;
  display: block;
}

.aside .aside__footer .aside__footer__lang {
  margin-top: 40px;
}

.aside .aside__footer .aside__footer__lang .en {
  margin-left: 5px;
}

.aside .aside__footer .aside__footer__lang .ch {
  margin-left: 5px;
}

.aside .aside__footer .aside__footer__lang .ru {
  color: #FF3E79;
}

.aside .aside__footer .aside__footer__lang .ru:hover {
  color: #FF3E79;
  cursor: pointer;
}

.aside .aside__footer .aside__footer__lang .en:hover {
  color: #FF3E79;
  cursor: pointer;
}

.aside .aside__footer .aside__footer__lang .ch:hover {
  color: #FF3E79;
  cursor: pointer;
}

@media (max-width: 1440px) {
  .aside__footer {
    margin-top: 100px;
  }
}

@media (min-width: 1025px) {
  .aside {
    left: 0%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 1025px) {
  .aside {
    left: -100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 950px) {
  .aside__exit::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url("../img/icons/close.svg");
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
  }
  .aside__logo {
    margin-left: 10px;
  }
}

@media (max-width: 320px) {
  .aside__footer {
    margin-top: 20px;
  }
  .aside {
    overflow: hidden;
  }
}

.aside-callback {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TT Lakes";
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #FFFFFF;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 25px;
  padding-top: 5px;
  min-width: 320px;
  max-width: 360px;
}

.aside-callback .aside-callback__title {
  display: inline-block;
}

.aside-callback .aside-callback__exit {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/close.svg");
  cursor: pointer;
}

.aside-callback .aside-callback__form__input {
  height: 30px;
  width: 230px;
  outline: none;
  display: block;
  border-radius: 8px;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #EAEAEA;
}

.aside-callback .aside-callback__button {
  width: 140px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #FF3E79;
  display: inline-block;
  position: relative;
  left: 180px;
  color: white;
  padding: 5px;
}

.aside-callback .aside-callback__paragraph {
  display: block;
  margin-top: 15px;
}

.aside-callback .aside-callback__paragraph__link {
  color: #FF3E79;
}

@media (min-width: 400px) {
  .aside-callback__exit {
    -webkit-transform: translate(-280px, 15px);
            transform: translate(-280px, 15px);
  }
}

@media (max-width: 400px) {
  .aside-callback {
    padding-top: 20px;
  }
  .aside-callback__title {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .aside-callback__form {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .aside-callback__exit {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
  }
  .aside-callback__button {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .aside-callback__paragraph {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

.aside-order {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TT Lakes";
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #FFFFFF;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 25px;
  padding-top: 5px;
  min-width: 320px;
  max-width: 360px;
}

.aside-order .aside-order__title {
  display: inline-block;
}

.aside-order .aside-order__exit {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url();
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  background-image: url("../img/icons/close.svg");
  cursor: pointer;
}

.aside-order .aside-order__form__input {
  height: 30px;
  width: 230px;
  outline: none;
  display: block;
  border-radius: 8px;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #EAEAEA;
}

.aside-order .aside-order__button {
  width: 140px;
  height: 30px;
  border-radius: 8px;
  background-color: #FF3E79;
  display: inline-block;
  position: relative;
  left: 180px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.aside-order .aside-order__paragraph {
  display: block;
  margin-top: 15px;
}

.aside-order .aside-order__paragraph__link {
  color: #FF3E79;
}

@media (min-width: 400px) {
  .aside-order__exit {
    -webkit-transform: translate(-280px, 15px);
            transform: translate(-280px, 15px);
  }
}

@media (max-width: 400px) {
  .aside-order {
    padding-top: 20px;
  }
  .aside-order__title {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .aside-order__form {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .aside-order__exit {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
  }
  .aside-order__button {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .aside-order__paragraph {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@font-face {
  font-family: 'TT Lakes';
  src: url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comic';
  src: url("../fonts/comic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.btn-reset {
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.swiper-pagination {
  position: static;
  padding-top: 16px;
  line-height: 12px;
  display: block;
}

body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F8F8F8;
  font-family: "TT Lakes";
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
/*# sourceMappingURL=style.css.map */